flask==3.0.3
python-dotenv==1.0.1
gunicorn==22.0.0

# Google Sheets
gspread==6.1.2
google-auth==2.29.0

# PDF
pdfplumber==0.11.0

# Imagen y OCR local
Pillow==10.3.0
pytesseract==0.3.13
openpyxl==3.1.5

# Seguridad
Werkzeug==3.0.3
